{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    {% block title %}
        Library
    {% endblock %}
</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <nav>
        <div><a href="{% url 'home' %}">Homepage</a></div>
        <div><a href="{% url 'all_books' %}">All books</a></div>
        <div><a href="{% url 'contact' %}">Contact Us</a></div>
        {% if user.is_authenticated %}
        <span>Hello, {{ user.username }}!</span>
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
            {% else %}
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
<footer>
    <p>This is my dungeon</p>
</footer>
</body>
</html>
