{% extends 'base.html' %}
{% block title %}
<title>{{ book.title }}</title>
{% endblock %}
{% block content %}
    <h1>{{ book.title }}</h1>
    <p><strong>Date Published: {{ book.year }}</strong></p>
    <p><strong>Author: {{ book.author.name }}</strong></p>
    {% if book.added_by %}
    <p><small>Added by: {{ book.added_by.username }}</small></p>
    {% endif %}

    {% if user.is_staff or book.added_by == user %}
    <div>
    <a href="{% url 'edit_book' book.id %}">Edit</a>
    <a href="{% url 'delete_book' book.id %}" style="color:red;">Delete</a>
    </div>
    {% endif %}

    <a href="{% url 'all_books' %}"><= Back to all books</a>
{% endblock %}