{% extends 'base.html' %}
{% block title %}
    All books
{% endblock %}

{% block content %}
    <div>
        <form method="get">
            <div>
                <label for="titlefield">Book Title</label>
                <input id="titlefield" type="text" name="title" value="{{ title }}">
            </div>
            <div>
                <label for="authorfield">Author</label>
                <input id="authorfield" type="text" name="author" value="{{ author }}">
            </div>
            <button type="submit">Search</button>
        </form>
    </div>
    {% if user.is_staff %}
        <a href="{% url 'add_book' %}">Add a book</a>
    {% endif %}
    {% for book in all_books %}
        <div>
            <h3><a href="{% url 'book' book.id %}">{{ book.title }}</a></h3>
            <p>By {{ book.author }}</p>
            <p>Date: {{ book.year }}</p>
            {% if book.added_by %}
                <p><small>Added by {{ book.added_by.username }}</small></p>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
